extends layout

block content
  h1 Our form yay!
  form(method="post" action="/new")
    label(for="username") Username:       
    input(type="text" name="username" id="username")

    p ---------

    label(for="messagetext") Message Text:     
    input(type="text" name="messagetext" id="messagetext")

    p ---------

    button(type="submit") Submit